<app-page-header title="Usuarios" icon="people"></app-page-header>
<div class="page-content">
  <div class="search-box">
    <mat-form-field>
      <mat-label>Búsqueda</mat-label>
      <input matInput (keyup)="applyFilter($any($event.target).value)">
    </mat-form-field>
  </div>

  <div class="mat-elevation-z4">
    @if (loadingIndicator) {
      <mat-progress-bar mode="query"></mat-progress-bar>
    }
    <mat-table [dataSource]="dataSource" matSort>

      <!-- Avatar -->
      <ng-container matColumnDef="avatar">
        <mat-header-cell class="flex-grow15" *matHeaderCellDef> Foto </mat-header-cell>
        <mat-cell class="flex-grow15" *matCellDef="let user">
          @if (user.avatar) {
            <img [src]="user.avatar" alt="Avatar" class="user-avatar">
          } @else {
            <span>No hay foto</span>
          }
        </mat-cell>
      </ng-container>

      <!-- Nombre -->
      <ng-container matColumnDef="first_name">
        <mat-header-cell class="flex-grow25" *matHeaderCellDef mat-sort-header>
          Nombre
        </mat-header-cell>
        <mat-cell class="flex-grow25" *matCellDef="let user"> {{user.first_name}} </mat-cell>
      </ng-container>

      <!-- Apellido -->
      <ng-container matColumnDef="last_name">
        <mat-header-cell class="flex-grow25" *matHeaderCellDef mat-sort-header>
          Apellido
        </mat-header-cell>
        <mat-cell class="flex-grow25" *matCellDef="let user"> {{user.last_name}} </mat-cell>
      </ng-container>

      <!-- Email -->
      <ng-container matColumnDef="email">
        <mat-header-cell class="flex-grow40" *matHeaderCellDef mat-sort-header>
          Email
        </mat-header-cell>
        <mat-cell class="flex-grow40" *matCellDef="let user"> {{user.email}} </mat-cell>
      </ng-container>

      <!-- Acciones -->
      @if (canManageUsers() ) {
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="flex-170px justify-center">
            <button mat-button color="primary" matTooltip="Nuevo usuario" (click)="editUser()">
              <mat-icon>person_add</mat-icon>Añadir usuario
            </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let user" class="flex-170px justify-center">
            <button mat-icon-button matTooltip="Editar" (click)="editUser(user)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Borrar" (click)="confirmDelete(user)">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
      }

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
