@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

$theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
    ));

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

@mixin theme($theme) {
  app-header {
    color: mat.get-theme-color($theme, primary);

    mat-toolbar {
      background: mat.get-theme-color($theme, primary-container);
    }
  }
}

:root {
  @include mat.all-component-themes($theme);
  @include theme($theme);
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Manrope", "Helvetica Neue", sans-serif;
}
