<app-page-header title="About" icon="info"></app-page-header>

<div class="page-content">
  <h4>Welcome to NG USERS CRUD</h4>
  <p>
    A startup project template using Angular Material.<br />
  </p>

  <h5>Technologies</h5>
  <ul>
    <li>Template pages with <a href="https://angular.dev" target="_blank" rel="nofollow">Angular 19</a> and <a
        href="https://www.typescriptlang.org" target="_blank" rel="nofollow">TypeScript</a></li>
    <li>Client-side built on <a href="https://angular.dev/cli" target="_blank" rel="nofollow">Angular CLI</a></li>
    <li>Theming using <a href="https://material.angular.io" target="_blank" rel="nofollow">Angular Material 19</a></li>
  </ul>
</div>
